/* :has() stuff */

.item:has(.star) {
    background: #eee;
  }
  
  .item:has(:checked) {
    background: Highlight;
  }
  
  .item:has(.star) .title,
  .item:has(.star) .time {
    font-weight: 800;
  }
  
  /* Inbox */
  
  .item {
    display: grid;
    grid-template-columns: 5rem 1fr 4fr 1fr;
    gap: 1rem;
    border: 1px solid lightgray;
    padding: 0.5rem;
    align-items: center;
    justify-items: start;
  }
  
  :nth-child(4 of .item) {
    outline: 0.3rem dashed hotpink;
    outline-offset: 0.7rem; 
  }

  .item + .item {
    border-top: none;
  }
  
  .bottom-bar {
    display: flex;
    justify-content: flex-end;
    background: #eee;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    display: none;
  }
  
  .title,
  .sender {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .mail-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .content {
    display: grid;
    grid-template-columns: 300px 3fr;
    gap: 2rem;
  }
  
  .context-area {
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }
  
  [type="checkbox"] {
    width: 1.25rem;
    height: 1.25rem;
  }
  
  /* Base */
  
  body {
    font-family: 'Google Sans', system-ui;
    padding: 1rem;
  }
  
  h1 {
    font-size: 3rem;
    margin: 1rem 0 2rem;
  }
  
  
  h2 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }
  .inboxes li {
    background: aliceblue;
    border: 1px solid powderblue;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    gap: 1rem;
  }
  
  .starred {
    margin-top: 2rem;
  }
  
  /* MQ */
  @media (width <= 850px) {
    .content {
      grid-template-columns: 1fr;
    }
    
    .sidebar {
      display: grid;
      grid-template-columns: 200px 1fr;
      gap: 1rem;
    }
    
    .starred {
      margin-top: 0;
    }
  }
  
  @media (width <= 550px) {
     .sidebar {
      grid-template-columns: 1fr;
    }
  }
  
  /* CQ Bits */
  
  .inbox {
    container: inbox / inline-size;
  }
  
  .starred {
    container: starred / inline-size;
  }
  
  @container (width <= 550px) {
    .item {
      grid-template-columns: 3.5rem 1fr 4fr;
    }
    
    .time {
      display: none;
    }
  }